# exclude all dot files except .git files
!.git*

# exclude binaries and temporary files
bin/
bin_plugs/
intermediate/
intermediate_plugs/
lib/
*.aps
*.user
*.PVS-Studio.*
res/gamedata_COC/.gitattributes
res/gamedata_COC/.gitignore
res/gamedata_COC/changelog_legend.txt
*.bak
*.script_old
*.script_
*.ltx_
appdata/
_JSGME_MODS/
gamedata/textures/
gamedata/meshes/
gamedata/sounds/
gamedata/anims/
bins/
gamedata/ai/
gamedata/levels/
gamedata/spawns/
weapons_hit_power.ltx
valid_item_sort.ltx
valid_item_sections.ltx
Stalker-CoC.lnk
Stalker-CoC.exe
JSGME.lng
JSGME.ini
JSGME.exe
gamedata/configs/axr_options.ltx
gamedata/configs/atmosfear_options.ltx
BaK.xr/
*.ide-shm
*.ide
*.db-wal
*.db-shm
*.lock
*.ide-wal
/src/LuaJIT/x64
